<div class="container filter-elements">
  <div class="category">
    <ul class="category__list-bt">
      <button class="category__item-bt">Lorem.</button>
      <button class="category__item-bt">Lorem.</button>
      <button class="category__item-bt">Lorem dolor.</button>
      <button class="category__item-bt">Lorem.</button>
      <button class="category__item-bt">Lorem.</button>
      <button class="category__item-bt">Lorem.</button>
      <button class="category__item-bt-arrow">
        <span>Other</span>
        <svg class="category__button-arrow" width="14" height="14">
          <use href="/src/images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <!-- <div class="filter-category__container">
                <ul class="filter-category__list">
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                    <li class="filter-category__item"><button class="filter-category__button">${}</button></li>
                </ul>
            </div> -->
    </ul>
    <p class="calendar-form__text">Search date news</p>
    <!-- <div class="calendar-btn">
            <button class="calendar-form">`` 18.02.2023 ``</button>
        </div> -->
    <div class="calendar-form">
      <div class="input-form" data-modal-open data-modal-close>
        <svg class="calendar__button-calendar" width="14" height="14">
          <use href="./images/sprite.svg#calendar"></use>
        </svg>
        <input
          readonly
          id="input-picker"
          class="calendar-input datepicker-here"
          placeholder="Виберіть дату..."
        />
        <svg class="calendar__button-arrow" width="14" height="14">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
